$color-bg: #f7f7f7;

body {
  background: $color-bg !important;
}

.jumbotron {
  background-color: $color-bg !important;
}

#jumbotronImage {
  background-image: url("../img/jumbotron.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 280px;
}

.btn {
  background-color: #F80685 !important;
  border: none !important; 
}

.btn:hover {
  color: white !important;
}

.btn.btn-secondary {
  background-color: transparent !important;
  color: #F80685 !important;
  border-style: solid !important;
  border-color: #F80685 !important;
  border-width: 1px !important;
  margin:auto;
  display:block;
}

.btn.btn-secondary:hover {
  border-width: 2px !important;
}

.card {
  margin-bottom: 5% !important;
}

ul li a {
  color:black !important;
}

ul li a:hover {
  text-decoration: none;
  border-bottom: 2px solid #F80685;
}



@import '../../node_modules/bootstrap/scss/bootstrap.scss'